* {
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
  padding: 0;
}

h2, h3 {
  color: blueviolet;
}

footer {
  padding: 20px;
  color: white;
  background-color: blueviolet;
  text-align: center;
  font-weight: bolder;
}

nav a {
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bolder;
}

.profile header {
  text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
  }

.profile img {
  width: 300px;
}

.card {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 30px;
}

.jumbotron {
  font-size: 25px;
  padding: 50px;
  text-align: center;
  background-color: blueviolet;
  color: white;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: blueviolet;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
}

main {
  padding: 20px;
  display: flex;
  gap: 2rem;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

aside {
  flex: 1;
}

header {
  display: inline;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }
  main aside {
    align-self: center;
  }
}
@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }
 
  main aside {
    align-self: stretch;
  }
}
